<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>LIST</title>
</head>
<body>
    <div id="wrap">

        <li class="nav-item">
            <!-- sec:authorize 속성은 사용자의 로그인 여부에 따라 요소를 출력하거나 출력하지 않게 함-->
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        </li>

        <br>

        <a th:href="@{/board/write}">글쓰기</a>

        <table>
            <thead>
            <tr>
                <th class="one wide">번호</th>
                <th class="ten wide">글제목</th>
                <th class="two wide">작성자</th>
            </tr>
            </thead>

            <tbody>
                <!-- CONTENTS !-->
                <tr th:each="board : ${boardList}">
                    <td>
                        <span th:text="${board.id}"></span>
                    </td>
                    <td>
                        <a th:href="@{'/board/detail/' + ${board.id}}">
                            <span th:text="${board.title}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${board.writer}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<!--    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">-->
<!--        <span class="text-white mr-2 mx-2" sec:authentication="name">사용자</span>-->
<!--        <span class="text-white mr-2 mx-2" sec:authentication="principal.authorities">권한</span>-->
<!--        <button class="btn btn-secondary my-2 my-sm-0" type="submit">logout</button>-->
    </form>
</body>
</html>
